<!DOCTYPE html>
<html>
  <head>
    <title>Example REST API Specification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url(//fonts.googleapis.com/css?family=Roboto:300,400,700);
      @import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
    </style>
  </head>
  <body>
    <redoc spec-url="./swagger.json" lazy-rendering></redoc>
    <script src="//rebilly.github.io/ReDoc/releases/v1.x.x/redoc.min.js">
    </script>
  </body>
</html>
